.jumbotron{
	background-image: url('/velas/img/vela\ back.webp');
	background-size: cover;
	background-position: center;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.mestre{
	width: 46px;
	height: 46px;
}
.icones a{
	display: block;
	width: 36px;
	height: 36px;
}
.icones li{
	display: inline-block;
	margin-left: 0.2rem; 
}
.icones a[href='https://github.com/']{
	background-image: url('/velas/img/github.png');
	background-size: 36px 36px;
}
.icones a[href='https://www.google.com/']{
	background-image: url('/velas/img/Plus.png');
	background-size: 36px 36px;
}
.icones a[href='https://br.linkedin.com/']{
	background-image: url('/velas/img/Linkedin.png');
	background-size: 36px 36px;
}
.icones a[href='https://www.facebook.com/']{
	background-image: url('/velas/img/Facebook-logo.png');
	background-size: 36px 36px;
}
.copy{
	columns: #FFFFFF;
}
.avaliado{
	color: #FFFFFF;
}
.card-header{
	background-image: url('/velas/img/backvelas.jpg');
	background-size: cover;
	background-position: left;
	color: rgb(255, 255, 255);
	}

