  .jumbotron{
    background-image: url('/img/hospitalarazul.jpg');
    background-size: cover;
    background-position: center;
            }

.navbar-ligth .navbar-nav .nav-link{
  color: rgba(232, 3, 3, 0.5);
}
  .nav-link{
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    
    margin-right: auto;
    margin-left: auto;
  }
  .mestre{
    width: 56px;
    height: 56px;
  }
  
  .icones a{
    display: block;
    width: 36px;
    height: 36px;
  }
  .icones li{
    display: inline-block;
    margin-left: 0.2rem;
  }
  .icones a[href='https://www.github.com/']{
    background-image: url('/img/github.png');
    background-size: 36px 36px;
  }
  
  .icones a[href='https://google.us/']{
    background-image: url('/img/Plus.png');
    background-size: 36px 36px;
  }

  .icones a[href='https://br.linkedin.com/']{
    background-image: url('/img/Linkedin.png');
    background-size: 46px 36px;
  }

  .icones a[href='https://www.facebook.com/']{
    background-image: url('/img/Facebook-logo.png');
    background-size: 45px 37px;
  }

  .copy{
    color:lightseagreen;
  }
  .card-header{
    background-color:rgb(2, 120, 133);
  }